In [1]:
#importing modules used
import numpy as np
import pandas as pd
import pickle
import ast
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
#loading movie datasets
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
#a tuple of movies table
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
#a tuple of credits
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
#merging two tables based on title
movies = movies.merge( credits, on = 'title' )

In [6]:
#dataframe after merging movies and credits in movies
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#omitting all other columns other than the ones mentioned below
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
#dataframe after selecting only 7 attributes
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
#checking the data for any null values or redundancies
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
#getting rid of the null values
movies.dropna( inplace = True)

In [11]:
#format of data in the genres column
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
#function to convert and store the objects in form of list
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        L.append(i['name'])
    return L

In [13]:
#after applying convert function
movies['genres'] = movies['genres'].apply(convert)
movies.iloc[0].genres

['Action',
 'Action',
 'Adventure',
 'Adventure',
 'Fantasy',
 'Fantasy',
 'Science Fiction',
 'Science Fiction']

In [14]:
#format of data in the keywords column
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [15]:
#after applying convert function
movies['keywords'] = movies['keywords'].apply(convert)
movies.iloc[0].keywords

['culture clash',
 'culture clash',
 'future',
 'future',
 'space war',
 'space war',
 'space colony',
 'space colony',
 'society',
 'society',
 'space travel',
 'space travel',
 'futuristic',
 'futuristic',
 'romance',
 'romance',
 'space',
 'space',
 'alien',
 'alien',
 'tribe',
 'tribe',
 'alien planet',
 'alien planet',
 'cgi',
 'cgi',
 'marine',
 'marine',
 'soldier',
 'soldier',
 'battle',
 'battle',
 'love affair',
 'love affair',
 'anti war',
 'anti war',
 'power relations',
 'power relations',
 'mind and soul',
 'mind and soul',
 '3d',
 '3d']

In [16]:
#format of data in the cast column
movies.iloc[0].cast

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [17]:
#function to extract the top 5 cast of the movie
def extract_top5_cast(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 5:
            L.append(i['name'])
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [18]:
#after extracting the top 5 function
movies['cast'] = movies['cast'].apply(extract_top5_cast)
movies.iloc[0].cast

['Sam Worthington',
 'Sam Worthington',
 'Zoe Saldana',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Sigourney Weaver',
 'Stephen Lang',
 'Stephen Lang',
 'Michelle Rodriguez',
 'Michelle Rodriguez']

In [19]:
#function to fetch the director of the movie from crew column
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            L.append(i['name'])
            break
    return L

In [20]:
#after fetching the director
movies['crew'] = movies['crew'].apply(fetch_director)
movies.iloc[0].crew

['James Cameron', 'James Cameron']

In [21]:
#format of data in the overview column
movies.iloc[0].overview

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [22]:
#converting it into list of strings
movies['overview'] = movies['overview'].apply( lambda x:x.split())
movies.iloc[0].overview

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [23]:
#format of data in the movie dataframe as of now
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Action, Adventure, Adventure, Fantasy...","[culture clash, culture clash, future, future,...","[Sam Worthington, Sam Worthington, Zoe Saldana...","[James Cameron, James Cameron]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Adventure, Fantasy, Fantasy, Actio...","[ocean, ocean, drug abuse, drug abuse, exotic ...","[Johnny Depp, Johnny Depp, Orlando Bloom, Orla...","[Gore Verbinski, Gore Verbinski]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Action, Adventure, Adventure, Crime, ...","[spy, spy, based on novel, based on novel, sec...","[Daniel Craig, Daniel Craig, Christoph Waltz, ...","[Sam Mendes, Sam Mendes]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Action, Crime, Crime, Drama, Drama, T...","[dc comics, dc comics, crime fighter, crime fi...","[Christian Bale, Christian Bale, Michael Caine...","[Christopher Nolan, Christopher Nolan]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Action, Adventure, Adventure, Science...","[based on novel, based on novel, mars, mars, m...","[Taylor Kitsch, Taylor Kitsch, Lynn Collins, L...","[Andrew Stanton, Andrew Stanton]"

In [24]:
#getting rid of space in the words which consists of two or more spaces
#for example "Science Fiction" to "ScienceFiction" or "Sam Mendes" to "SamMendes"
movies['genres'] = movies['genres'].apply( lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply( lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply( lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply( lambda x:[i.replace(" ","") for i in x])

In [25]:
#format of data in the movie dataframe after removing spaces
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Action, Adventure, Adventure, Fantasy...","[cultureclash, cultureclash, future, future, s...","[SamWorthington, SamWorthington, ZoeSaldana, Z...","[JamesCameron, JamesCameron]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Adventure, Fantasy, Fantasy, Actio...","[ocean, ocean, drugabuse, drugabuse, exoticisl...","[JohnnyDepp, JohnnyDepp, OrlandoBloom, Orlando...","[GoreVerbinski, GoreVerbinski]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Action, Adventure, Adventure, Crime, ...","[spy, spy, basedonnovel, basedonnovel, secreta...","[DanielCraig, DanielCraig, ChristophWaltz, Chr...","[SamMendes, SamMendes]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Action, Crime, Crime, Drama, Drama, T...","[dccomics, dccomics, crimefighter, crimefighte...","[ChristianBale, ChristianBale, MichaelCaine, M...","[ChristopherNolan, ChristopherNolan]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Action, Adventure, Adventure, Science...","[basedonnovel, basedonnovel, mars, mars, medal...","[TaylorKitsch, TaylorKitsch, LynnCollins, Lynn...","[AndrewStanton, AndrewStanton]"

In [26]:
#adding a new column tags consisting of the all remaining columns
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [27]:
#format of data in the movie dataframe after adding tags column
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Action, Adventure, Adventure, Fantasy...","[cultureclash, cultureclash, future, future, s...","[SamWorthington, SamWorthington, ZoeSaldana, Z...","[JamesCameron, JamesCameron]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Adventure, Fantasy, Fantasy, Actio...","[ocean, ocean, drugabuse, drugabuse, exoticisl...","[JohnnyDepp, JohnnyDepp, OrlandoBloom, Orlando...","[GoreVerbinski, GoreVerbinski]","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Action, Adventure, Adventure, Crime, ...","[spy, spy, basedonnovel, basedonnovel, secreta...","[DanielCraig, DanielCraig, ChristophWaltz, Chr...","[SamMendes, SamMendes]","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Action, Crime, Crime, Drama, Drama, T...","[dccomics, dccomics, crimefighter, crimefighte...","[ChristianBale, ChristianBale, MichaelCaine, M...","[ChristopherNolan, ChristopherNolan]","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Action, Adventure, Adventure, Science...","[basedonnovel, basedonnovel, mars, mars, medal...","[TaylorKitsch, TaylorKitsch, LynnCollins, Lynn...","[AndrewStanton, AndrewStanton]","[John, Carter, is, a, war-weary,, former, mili..."

In [28]:
#creating a new dataframe consisting of movie_id, title and tags
new_df = movies[['movie_id','title','tags']]
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [29]:
#converting the individual strings into a paragraph
new_df['tags'] = new_df['tags'].apply( lambda x:" ".join(x))
new_df['tags'][0]

C:\Users\Abdul Rafae\AppData\Local\Temp\ipykernel_2072\1176830626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply( lambda x:" ".join(x))

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Action Adventure Adventure Fantasy Fantasy ScienceFiction ScienceFiction cultureclash cultureclash future future spacewar spacewar spacecolony spacecolony society society spacetravel spacetravel futuristic futuristic romance romance space space alien alien tribe tribe alienplanet alienplanet cgi cgi marine marine soldier soldier battle battle loveaffair loveaffair antiwar antiwar powerrelations powerrelations mindandsoul mindandsoul 3d 3d SamWorthington SamWorthington ZoeSaldana ZoeSaldana SigourneyWeaver SigourneyWeaver StephenLang StephenLang MichelleRodriguez MichelleRodriguez JamesCameron JamesCameron'

In [30]:
#converting the paragraph into full lowercase
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df['tags'][0]

C:\Users\Abdul Rafae\AppData\Local\Temp\ipykernel_2072\3598707961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action action adventure adventure fantasy fantasy sciencefiction sciencefiction cultureclash cultureclash future future spacewar spacewar spacecolony spacecolony society society spacetravel spacetravel futuristic futuristic romance romance space space alien alien tribe tribe alienplanet alienplanet cgi cgi marine marine soldier soldier battle battle loveaffair loveaffair antiwar antiwar powerrelations powerrelations mindandsoul mindandsoul 3d 3d samworthington samworthington zoesaldana zoesaldana sigourneyweaver sigourneyweaver stephenlang stephenlang michellerodriguez michellerodriguez jamescameron jamescameron'

In [31]:
#intialising ps as a PorterStemmer
ps = PorterStemmer()

In [32]:
#PorterStemmer is used in the following function to stem words to its root word
#for example dancing,dancer,dance will be converted to danc
def stem(text) :
    y = []
    
    for i in text.split() :
        y.append( ps.stem(i))
        
    return " ".join(y)

In [33]:
#applying stemming to the tags column
new_df['tags'] = new_df['tags'].apply(stem)
new_df['tags'][0]

C:\Users\Abdul Rafae\AppData\Local\Temp\ipykernel_2072\759843534.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action action adventur adventur fantasi fantasi sciencefict sciencefict cultureclash cultureclash futur futur spacewar spacewar spacecoloni spacecoloni societi societi spacetravel spacetravel futurist futurist romanc romanc space space alien alien tribe tribe alienplanet alienplanet cgi cgi marin marin soldier soldier battl battl loveaffair loveaffair antiwar antiwar powerrel powerrel mindandsoul mindandsoul 3d 3d samworthington samworthington zoesaldana zoesaldana sigourneyweav sigourneyweav stephenlang stephenlang michellerodriguez michellerodriguez jamescameron jamescameron'

In [34]:
#inbuilt function to remove stopwords i.e. 'are','at','is' etc and take count of 10000 most frequent words
cv = CountVectorizer(max_features=10000,stop_words='english')

In [35]:
#converting the count vectorizer into a 2d array format
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [36]:
#retrieving all the top 10000 words in alphabetical order
cv.get_feature_names()

C:\Users\Abdul Rafae\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '10th',
 '11',
 '12',
 '12th',
 '13',
 '14',
 '15',
 '150',
 '16',
 '16th',
 '16thcenturi',
 '17',
 '17th',
 '17thcenturi',
 '18',
 '1890',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1930s',
 '1937',
 '1940',
 '1941',
 '1944',
 '1945',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1977',
 '1979',
 '1980',
 '1980s',
 '1984',
 '1985',
 '1990',
 '1994',
 '1995',
 '1997',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2008',
 '2009',
 '20th',
 '21st',
 '21stcenturi',
 '23',
 '24',
 '25',
 '27',
 '30',
 '300',
 '35',
 '3d',
 '40',
 '47',
 '50',
 '500',
 '50cent',
 '51',
 '60',
 '60s',
 '70',
 '7th',
 '80',
 'aaron',
 'aaroneckhart',
 'aaronpaul',
 'aarontaylor',
 'aaronyoo',
 'aasifmandvi',
 'abandon',
 'abbi',
 'abbiecornish',
 'abduct',
 'abhishekbachchan',
 'abigailbreslin',
 'abil',
 'abl',
 'abo',
 'aboard',
 'aborigin',
 'abort',
 'abov',
 'abram',
 'abroad',
 'absolut',
 'absurd',
 'abus',
 'abuse',
 'abusivehusband',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acid',
 'acquaint',
 'acquir',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'ada',
 'adam',
 'adambeach',
 'adambrodi',
 'adamcarolla',
 'adamdriv',
 'adamgarcia',
 'adamgoldberg',
 'adammckay',
 'adamrifkin',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'addiction',
 'addit',
 'addl',
 'adewaleakinnuoye',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adolfhitl',
 'adopt',
 'adoptedchild',
 'adoptivefath',
 'ador',
 'adriandunbar',
 'adriangreni',
 'adrianlyn',
 'adrienbrodi',
 'adriennebarbeau',
 'adrift',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'adults',
 'advanc',
 'advantag',
 'advantage',
 'adventur',
 'adventure',
 'adventures',
 'adversari',
 'advertis',
 'advertisingexecut',
 'advertisingexpert',
 'advic',
 'advice',
 'advis',
 'affair',
 'affect',
 'affection',
 'afflict',
 'affluent',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'afternoon',
 'ag',
 'agbaj',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'aggressionbyanim',
 'agnesbruckn',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidangillen',
 'aidanquinn',
 'ail',
 'aim',
 'aimeegarcia',
 'air',
 'airborn',
 'aircraft',
 'airforc',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'akshaykumar',
 'al',
 'alabama',
 'alan',
 'alanalda',
 'alanarkin',
 'alanb',
 'alancum',
 'alanpark',
 'alanrickman',
 'alantudyk',
 'alaska',
 'alaskan',
 'albert',
 'albertbrook',
 'albertfinney',
 'alberthugh',
 'alcatraz',
 'alcohol',
 'alcoholabus',
 'alecbaldwin',
 'alecguin',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandronivola',
 'alex',
 'alexanderpayn',
 'alexandersiddig',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandramarialara',
 'alexandreaja',
 'alexapenavega',
 'alexia',
 'alexisbledel',
 'alexkendrick',
 'alexpettyf',
 'alexproya',
 'alexrocco',
 'alfi',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'algeria',
 'ali',
 'aliashawkat',
 'alic',
 'alice',
 'alicebraga',
 'aliceev',
 'alicekrig',
 'aliciasilverston',
 'aliciavikand',
 'aliciawitt',
 'alicjabachleda',
 'alien',
 'alienabduct',
 'alienattack',
 'aliencontact',
 'alieninfect',
 'alieninvas',
 'alienlife',
 'alienphenomenon',
 'alienplanet',
 'aliens',
 'alik',
 'alike',
 'alilart',
 'alisonbri',
 'alisonlohman',
 'alisonpil',
 'aliv',
 'alive',
 'alleg',
 'allegedli',
 'allen',
 'allencovert',
 'alli',
 'allianc',
 'allies',
 'allig',
 'allisonjanney',
 'allisonmil',
 'allow',
 'allysheedi',
 'alon',
 'alongsid',
 'alp',
 'alpacino',
 'alpha',
 'alreadi',
 'alt',
 'alter',
 'alterego',
 'altern',
 'alternatedimens',
 'alternatehistori',
 'alternater',
 'alternativer',
 'alunarmstrong',
 'alway',
 'alysonhannigan',
 'alyssa',
 'alzheim',
 'alzheimer',
 'amanda',
 'amandabyn',
 'amandacrew',
 'amandadetm',
 'amandapeet',
 'amandaplumm',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'amberheard',
 'ambertamblyn',
 'ambervalletta',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanflag',
 'americanfootbal',
 'americanfootballplay',
 'ami',
 'amid',
 'amidst',
 'amitabhbachchan',
 'amnesia',
 'amor',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amyheckerl',
 'amyirv',
 'amypoehl',
 'amyryan',
 'amysmart',
 'ana',
 'anaclaudiatalancón',
 'anakin',
 'analyst',
 'anandtuck',
 'anarchiccomedi',
 'anarchist',
 'ancient',
 'ancientchina',
 'ancientegypt',
 'ancientgreec',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andreamartin',
 'andreariseborough',
 'andrebraugh',
 'andrew',
 'andrewadamson',
 'andrewbujalski',
 'andrewdavi',
 'andrewflem',
 'andrewgarfield',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andrébenjamin',
 'andrédussolli',
 'andy',
 'andydick',
 'andyfickman',
 'andygarcía',
 'andylau',
 'andysamberg',
 'andyserki',
 'andytenn',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'angelo',
 'anger',
 'angle',
 'angri',
 'angusmacfadyen',
 'angélicaaragón',
 'ani',
 'anilkapoor',
 'anim',
 'animal',
 'animalattack',
 'animalhorror',
 'animallead',
 'animalprotect',
 'animals',
 'animalsidekick',
 'anjelicahuston',
 'ann',
 'anna',
 'annabel',
 'annabellasciorra',
 'annabethgish',
 'annafari',
 'annafriel',
 'annakendrick',
 'annamariahorsford',
 'annapaquin',
 'annasophiarobb',
 'anndowd',
 'anne',
 'annearch',
 'annebancroft',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniecorley',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anonymouslett',
 'anoth',
 'anotherdimens',
 'answer',
 'answers',
 'ant',
 'antarct',
 'antarctica',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyedward',
 'anthonyheald',
 'anthonyhopkin',
 'anthonylapaglia',
 'anthonymacki',
 'anthonyminghella',
 'anthonyquayl',
 'anthonyquinn',
 'anthonyrusso',
 'anthropomorph',
 'anti',
 'antic',
 'antidot',
 'antihero',
 'antiqu',
 'antisemit',
 'antiterror',
 'antoinefuqua',
 'anton',
 'antoncorbijn',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anxieti',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'apollo',
 'apostl',
 'appalachia',
 'appar',
 'appear',
 'appl',
 'apple',
 'appli',
 'appoint',
 'appreci',
 'apprehend',
 'apprentic',
 'approach',
 'approaches',
 'april',
 'aquarium',
 'arab',
 'arabian',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeolog',
 'archeologist',
 'archer',
 'archeri',
 'archiepanjabi',
 'architect',
 'arci',
 'arctic',
 'area',
 'area51',
 'aren',
 'arena',
 'argentina',
 'argument',
 'ariellekebbel',
 'arigraynor',
 'aris',
 'aristocrat',
 'arizona',
 'arkansa',
 'arm',
 'armageddon',
 'armandassant',
 'armi',
 'armiehamm',
 'arminmueller',
 'armor',
 'armoredcar',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'array',
 'arrest',
 'arrested',
 'arriv',
 'arrive',
 'arrives',
 'arrog',
 'arrow',
 'arson',
 'art',
 'artgalleri',
 'arthous',
 'arthur',
 'articl',
 'artifact',
 'artifici',
 'artificialinsemin',
 'artificialintellig',
 'artist',
 'artists',
 'arttheft',
 'artthief',
 'asabutterfield',
 'asgard',
 'ash',
 'ashley',
 'ashleygreen',
 'ashleyjudd',
 'ashleyscott',
 'ashleytisdal',
 'ashtonholm',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'asperger',
 'aspir',
 'aspiringsing',
 'assassin',
 'assassinationattempt',
 'assassins',
 'assault',
 'assaultrifl',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assort',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atlant',
 'atlanta',
 'atlanticocean',
 'atom',
 'atomegoyan',
 'atomicbomb',
 'atroc',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attemptedmurd',
 'attemptedrap',
 'attempttoescap',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'aubreyplaza',
 'auction',
 'audienc',
 'audiotap',
 'audit',
 'audreyhepburn',
 'audreytaut',
 'august',
 'aunjanueelli',
 'aunt',
 'auntniecerelationship',
 'austin',
 'australia',
 'australian',
 'australianaborigin',
 'australianoutback',
 'austria',
 'austrian',
 'author',
 'authorities',
 'authority',
 'autism',
 'autist',
 'auto',
 'autoaccid',
 'autobiograph',
 'autobiographi',
 'autobot',
 'autograph',
 'automaton',
 'automobileindustri',
 'automobilerac',
 'autonomi',
 'autoritianeduc',
 'autumn',
 'avaduvernay',
 'avagardn',
 'avail',
 'avatar',
 'aveng',
 'averag',
 'avert',
 'averybrook',
 'aviat',
 'avildsen',
 'aviv',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awe',
 'awesom',
 'awkward',
 'awol',
 'awri',
 'awry',
 'ax',
 'axe',
 'axel',
 'axemurd',
 'ayeletzur',
 'aynrand',
 'azizansari',
 'baader',
 'babe',
 'babi',
 'baby',
 'babygenius',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'backstag',
 'backup',
 'backward',
 'backwat',
 'backwood',
 'backyard',
 'bad',
 'badboss',
 'badcop',
 'badfather',
 'badg',
 'badli',
 'badluck',
 'badmother',
 'baedoona',
 'bag',
 'bagdad',
 'bagoverhead',
 'bahama',
 'bail',
 'baileemadison',
 'bailey',
 'baker',
 'bakeri',
 'balanc',
 'balance',
 'ball',
 'ballet',
 'balloon',
 'baltasarkormákur',
 'baltimor',
 'baltimoremaryland',
 'bammargera',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankfraud',
 'bankheist',
 'bankmanag',
 'bankrobb',
 'bankrobberi',
 'bankrupt',
 'bannon',
 'baptist',
 'bar',
 'barbara',
 'barbarabach',
 'barbaracarrera',
 'barbarahershey',
 'barbarajefford',
 'barbarian',
 'barbedwir',
 'barber',
 'barbershop',
 'barbetschroed',
 'barbrastreisand',
 'barcelonaspain',
 'bare',
 'barfight',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barricad',
 'barrier',
 'barrio',
 'barry',
 'barrybostwick',
 'barrycorbin',
 'barrylevinson',
 'barrypepp',
 'barrysonnenfeld',
 'bars',
 'barsandrestaur',
 'bartend',
 'bas',
 'base',
 'basebal',
 'baseballbat',
 'basedonarticl',
 'basedoncartoon',
 'basedonchildren',
 'basedoncomicbook',
 'basedoncomicstrip',
 'basedonfairytal',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstori',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'basketball',
 'bat',
 'bath',
 'bathhous',
 'bathroom',
 'bathroomhumor',
 'bathtub',
 'batman',
 'battalion',
 'battl',
 'battle',
 'battleassign',
 'battlefield',
 'battleforpow',
 'battleforsurviv',
 'baxley',
 'baxter',
 'bay',
 'bazluhrmann',
 'bdsm',
 'bdwong',
 'beach',
 'beachhous',
 'beam',
 'bear',
 'bearattack',
 'beard',
 'beast',
 'beasts',
 'beat',
 'beaten',
 'beatnik',
 'beau',
 'beaubridg',
 'beauti',
 'beautiful',
 'beautifulgirl',
 'beautifulwoman',
 'beauty',
 'beautycontest',
 'beautypag',
 'bebeneuwirth',
 'becam',
 'becaus',
 'becca',
 'becki',
 'beckon',
 'becom',
 'becominganadult',
 'bed',
 'bedandbreakfastplac',
 'bedroom',
 'bee',
 'beer',
 'beethoven',
 'befor',
 'befriend',
 'beg',
 'began',
 'beggar',
 'begin',
 'begins',
 'begnadigung',
 'beguil',
 'behavior',
 'behead',
 'behindthescen',
 'beij',
 'beirut',
 'belgium',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'bellaheathcot',
 'bellathorn',
 'belong',
 'belov',
 'beloved',
 'belt',
 'belénrueda',
 'ben',
 'benaffleck',
 'benbarn',
 'benchaplin',
 'bencross',
 'bend',
 'beneath',
 'benedictcumberbatch',
 'benefit',
 'benfalcon',
 'benfeldman',
 'benfost',
 'bengar',
 'bengazzara',
 'beniciodeltoro',
 'benitomussolini',
 'benjamin',
 'benjaminbratt',
 'benjamindickinson',
 'benjaminhollingsworth',
 'benjaminwalk',
 'benjohnson',
 'benkingsley',
 'benmendelsohn',
 'benmil',
 'bennet',
 'bennett',
 'bennettmil',
 'bennofürmann',
 'benoîtmagimel',
 'benschwartz',
 'benshenkman',
 'benstassen',
 'benstil',
 'bent',
 'benwheatley',
 'benwhishaw',
 'berlin',
 'berlinwal',
 'bernardhil',
 'bernardobertolucci',
 'berni',
 'berniemac',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'bethani',
 'betray',
 'betrayal',
 'betroth',
 'betsyrussel',
 'bettemidl',
 'better',
 'betti',
 'bettyhutton',
 'bettythoma',
 'bettywhit',
 'beverli',
 'beverlyd',
 'beverlyhil',
 'beyoncéknowl',
 'bhorror',
 'bia',
 'bianca',
 'biancaa',
 'biancakajlich',
 'bibl',
 'biblic',
 'bicker',
 'bicycl',
 'bid',
 'big',
 'bigfamili',
 'bigger',
 'biggest',
 'bigotri',
 'bike',
 'biker',
 'bikini',
 ...]

In [37]:
#inbuilt function which calculates the similarity on 10000d space and calculates the cosine angle between every two movies.
#based on similarity of words, it gives similarity score between 0 and 1.
# 1 meaning the movie is the same and more near the score is to 1, the more similar the movie.
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.09237878, 0.09529862, ..., 0.05288859, 0.        ,
        0.        ],
       [0.09237878, 1.        , 0.08392737, ..., 0.00970371, 0.        ,
        0.01077451],
       [0.09529862, 0.08392737, 1.        , ..., 0.0120125 , 0.        ,
        0.        ],
       ...,
       [0.05288859, 0.00970371, 0.0120125 , ..., 1.        , 0.02842676,
        0.03701166],
       [0.        , 0.        , 0.        , ..., 0.02842676, 1.        ,
        0.0631273 ],
       [0.        , 0.01077451, 0.        , ..., 0.03701166, 0.0631273 ,
        1.        ]])

In [38]:
#recommend function takes movie as input and outputs top 5 movies to be recommended to the user
def recommend(movie):
    #movie_index gets the movie_id from the new_df table based on the title match
    movie_index = new_df[new_df['title'] == movie].index[0]
    #the similarity of the current movie with respect to all the others is stored in distances
    distances = similarity[movie_index]
    #we sort the distances in reverse order and store 1-5 indexed movies in variable movies_list 
    #at index 0, it would be the same movie, hence 1-5
    #we use enumerate function and store it in list so that we don't loose the actual corresponding index of the movie
    movies_list = sorted( list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]
    #function to print the titles of the movies present in movies_list
    for i in movies_list:
        print( new_df.iloc[i[0]].title )

In [39]:
#to create a .pkl file for storing the new_df dataframe
pickle.dump(new_df,open('movies.pkl','wb'))

In [40]:
#to create a .pkl file for storing the new_df dataframe after converting it into dictionary
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [41]:
#to create a .pkl file for storing the values of similarity
pickle.dump(similarity,open('similarity.pkl','wb'))